<ion-view view-title="add-list" name="addlist-view">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Add a list</h1>
    </div>
    <ion-content class="padding has-header">
        <p>Hello, {{ currentUser.name }}!</p>
        <form name="AddList" novalidate ng-submit="addList(params)">
            <ion-list>
                <label class="item item-input">
                    <input type="text" name="listname" ng-model="params.listname" ng-required="true" placeholder="Create a new to-do list">
                </label>
                <button class="button button-block button-positive" ng-disabled="AddList.$invalid">+</button>
            </ion-list>
        </form>
        <h4>Your lists</h4>
        <ion-list>
            <ion-item ng-repeat="(key, list) in list">
            	{{ list.name }}
                <ion-reorder-button class="ion-navicon" on-reorder="moveList(list, $fromIndex, $toIndex)">
                </ion-reorder-button>
                <ion-option-button class="button-positive">
                    <i class="icon ion-ios-edit"></i>
                </ion-option-button>
                <ion-delete-button class="ion-minus-circled" ng-click="deleteList(key)"></ion-delete-button>
            </ion-item>
        </ion-list>
        <button class="button" ng-click="showDeleteButtons()">Delete</button>
    </ion-content>
</ion-view>