<ion-view view-title="Movie List">
    <ion-nav-buttons side="primary">
        <button class="button button-icon ion-minus-circled" ng-click="data.showDelete = !data.showDelete; data.showReorder = false;">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-navicon" ng-click="data.showReorder = !data.showReorder; data.showDelete = false;">
        </button>
    </ion-nav-buttons>
    <div class="bar bar-subheader 
  item-input-inset bar-light">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="query" placeholder="Search">
        </label>
    </div>
    <ion-content class="has-subheader">
        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>

    </ion-content>
</ion-view>