<ion-view view-title="Shared Lists" can-swipe-back cache-view="true" name="shared-view">
        <div class="bar bar-subheader bar-light item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" name="searchList" ng-model="searchList" placeholder="Search">
            </label>
        </div>
    <ion-content class="padding has-header has-subheader">
        <ion-list>    
            <ion-item class="item item-icon-right item-text-wrapper" 
            ng-repeat="(key, list) in lists | filter: {name: searchList} | filter: {shared: 1} as sharedItems">  
                {{ list.name }}
                <a class="button button-icon icon ion-ios-arrow-right" ui-sref="tabs.shared-detail({lId: list.listId})"></a>
            </ion-item>
            <h3 ng-if="sharedItems.length===0">No lists found.</h3>
        </ion-list>
    </ion-content>
</ion-view>