<ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="Add List" ui-sref="tabs.add" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
        <ion-nav-view name="add-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Your Lists" ui-sref="tabs.lists" ui-sref-active="current" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
        <ion-nav-view name="lists-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Shared Lists" ui-sref="tabs.shared" ui-sref-active="current" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
        <ion-nav-view name="shared-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Profile" ui-sref="tabs.profile" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
        <ion-nav-view name="profile-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>